.cardsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row; 
    width: 100%;
    gap: 50px;
}

.cardContainer {
    /* Add styling for the box */
    background-image: linear-gradient(to bottom right, #a5ccb9, #f3faf7);
    width: 50%;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 15px 15px;
  }

.cardTitle {
    /* Add styling for the title */
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 16px;
    background-color: #5b8371;
    border-radius: 15px 15px 0px 0px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
  }

.cardDescription {
    /* Add styling for the description */
    font-size: 20px;
    font-weight: 500;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 15px 15px 15px 15px;
  }

.cardInformation {
    /* Add styling for the description */
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 20px;
    line-height: 1.5;
  }

.pictureTilesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    width: 100%;
    gap: 5px;
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
}

.pictureTile {
    /* width: 33.33%; Set the width to 33.33% to evenly distribute the pictures */
    height: 105px;
    border-radius: 10px 10px 10px 10px;
}

.buttonRounder{
    border-radius: 20px;
  }

/* Styling one class specially in dark mode */
[data-theme='dark'] .title {
    color: #f1f1f1;
}
  
/* Styling one class specially in dark mode */
[data-theme='dark'] .cardContainer {
    background-image: linear-gradient(to bottom right, #282f3b, #212730);
}

.qexeSplashImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 87%;
    padding-bottom: 15px;
}
  